# Секретні ключі
.env

# Локальна база даних
db.sqlite3

# Віртуальне середовище
venv/
env/

# Папки з кешем
__pycache__/
*.pyc

# Медіафайли (конспекти) - їх завантажимо на сервер окремо
media/

# Зібрана статика
staticfiles/